@media only screen and (min-width: 0px) and (max-width: 319px) {
    
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    #navBar {
        display: flex;
        justify-content: space-around;
        gap: 70px;
        height: 70px;
        position: fixed;
        width: 100%;
        align-items: center;
        background-color: white;
        z-index: 1000;
    }

    .logoDocplanner {
        width: 179px;
        height: 24px;
        margin-left: 20px;
    }

    #navLinks {
        display: none;
    }

    #navBar__Breadcrumb {
        background-color: black;
        border-radius: 3px;
        border: 1px solid black;
        padding-left: 15px;
        height: 45px;
    }

    
    .navBar__BreadcrumbLine {
        width: 40px;
        line-height: 10px;
        color: white
    }
    
    #navBar__BreadcrumbLineOne {
        padding-top: -5px;
    }

    #navDropdown__itemContainer {
        background-color: black;
    }
    
    #navDropdown {
        position: relative;
        width: 100%;
        padding-top: 80px;
        background-color: black;
        height: 200px
    }

    #navDropdown__itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin-top: 10px;
    }

    #navDropdown__itemContainer a {
        text-decoration: none;
        margin-top: 10px;
        color: white;
    }

    #navDropdown__itemContainer a:hover {
        color:aliceblue
    }

}   
    
    
@media only screen and (min-width: 480px) and (max-width: 768px) {
    
    #navBar {
        display: flex;
        justify-content: space-around;
        gap: 300px;
        height: 70px;
        position: fixed;
        width: 100%;
        align-items: center;
        background-color: white;
        z-index: 1000;
    }

    .logoDocplanner {
        width: 179px;
        height: 24px;
    }

    #navLinks {
        display: none;
    }

    #navBar__Breadcrumb {
        background-color: black;
        border-radius: 3px;
        border: 1px solid black;
        padding-left: 15px;
        height: 45px;
    }

    .navBar__BreadcrumbLine {
        width: 40px;
        line-height: 10px;
        color: white
    }

    #navBar__BreadcrumbLineOne {
        padding-top: -5px;
    }

    #navDropdown__itemContainer {
        background-color: black;
    }
    
    #navDropdown {
        position: relative;
        width: 100%;
        padding-top: 80px;
        background-color: black;
        height: 200px
    }

    #navDropdown__itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin-top: 10px;
    }

    #navDropdown__itemContainer a {
        text-decoration: none;
        margin-top: 10px;
        color: white;
    }

    #navDropdown__itemContainer a:hover {
        color:aliceblue
    }

}
    
@media only screen and (min-width: 769px) and (max-width: 979px) {
    
    #navBar {
        display: flex;
        justify-content: space-around;
        gap: 400px;
        height: 70px;
        position: fixed;
        width: 100%;
        align-items: center;
        background-color: white;
        z-index: 1000;
    }

    .logoDocplanner {
        width: 179px;
        height: 24px;
    }

    #navLinks {
        display: none;
    }

    #navBar__Breadcrumb {
        background-color: black;
        border-radius: 3px;
        border: 1px solid black;
        padding-left: 15px;
        height: 45px;
    }

    .navBar__BreadcrumbLine {
        width: 40px;
        line-height: 10px;
        color: white
    }

    #navBar__BreadcrumbLineOne {
        padding-top: -5px;
    }

    #navDropdown__itemContainer {
        background-color: black;
    }
    
    #navDropdown {
        position: relative;
        width: 100%;
        padding-top: 80px;
        background-color: black;
        height: 200px
    }

    #navDropdown__itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin-top: 10px;
    }

    #navDropdown__itemContainer a {
        text-decoration: none;
        margin-top: 10px;
        color: white;
    }

    #navDropdown__itemContainer a:hover {
        color:aliceblue
    }

}    


@media only screen and (min-width: 980px) and (max-width: 1024px) {
    
    #navBar {
        display: flex;
        justify-content: space-around;
        gap: 600px;
        height: 70px;
        position: fixed;
        width: 100%;
        align-items: center;
        background-color: white;
        z-index: 1000;
    }

    .logoDocplanner {
        width: 179px;
        height: 24px;
    }

    #navLinks {
        display: none;
    }

    #navBar__Breadcrumb {
        background-color: black;
        border-radius: 3px;
        border: 1px solid black;
        padding-left: 15px;
        height: 45px;
    }

    .navBar__BreadcrumbLine {
        width: 40px;
        line-height: 10px;
        color: white
    }

    #navBar__BreadcrumbLineOne {
        padding-top: -5px;
    }

    #navDropdown__itemContainer {
        background-color: black;
    }
    
    #navDropdown {
        position: relative;
        width: 100%;
        padding-top: 80px;
        background-color: black;
        height: 200px
    }

    #navDropdown__itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin-top: 10px;
    }

    #navDropdown__itemContainer a {
        text-decoration: none;
        margin-top: 10px;
        color: white;
    }

    #navDropdown__itemContainer a:hover {
        color:aliceblue
    }

}  
    
   
@media only screen and (min-width: 1025px) and (max-width: 1199px) {

    #navBar {
        display: flex;
        justify-content: space-between;
        height: 70px;
        position: fixed;
        width: 100%;
        align-items: center;
        background-color: white;
        z-index: 1000;
    }
    
    .logoDocplanner {
        width: 179px;
        height: 24px;
        margin-left: 120px;
    }
    
    #navLinks {
        display: flex;
        width: 360px;
        justify-content: space-between;
        margin-right: 150px;
        align-items: center;
    }
    
    #navBar__Breadcrumb {
        display: none;
    }

    #navLinks a {
        text-decoration: none;
        color: #ABABAB;
        font-size: 15px;
        font-weight: 400;  
    }
    
    #navButton {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 20px;
        background-color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #666666;
        border-radius: 6px;
    }
    
}
    
@media only screen and (min-width: 1200px) and (max-width: 1366px) {

    #navBar {
        display: flex;
        justify-content: space-between;
        height: 70px;
        position: fixed;
        width: 100%;
        align-items: center;
        background-color: white;
        z-index: 1000;
    }
    
    .logoDocplanner {
        width: 179px;
        height: 24px;
        margin-left: 120px;
    }
    
    #navLinks {
        display: flex;
        width: 360px;
        justify-content: space-between;
        margin-right: 150px;
        align-items: center;
    }
    
    #navBar__Breadcrumb {
        display: none;
    }

    #navLinks a {
        text-decoration: none;
        color: #ABABAB;
        font-size: 15px;
        font-weight: 400;  
    }
    
    #navButton {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 20px;
        background-color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #666666;
        border-radius: 6px;
    }
    
}
    
@media only screen and (min-width: 1367px) {
    
    #navBar {
        display: flex;
        justify-content: space-between;
        height: 70px;
        position: fixed;
        width: 100%;
        align-items: center;
        background-color: white;
        z-index: 1000;
    }
    
    .logoDocplanner {
        width: 179px;
        height: 24px;
        margin-left: 120px;
    }
    
    #navLinks {
        display: flex;
        width: 360px;
        justify-content: space-between;
        margin-right: 150px;
        align-items: center;
    }
    
    #navBar__Breadcrumb {
        display: none;
    }

    #navLinks a {
        text-decoration: none;
        color: #ABABAB;
        font-size: 15px;
        font-weight: 400;  
    }
    
    #navButton {
        font-size: 16px;
        line-height: 24px;
        padding: 10px 20px;
        background-color: white;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #666666;
        border-radius: 6px;
    }

}
    
@media print {
    

    
}
    
    
@media speech {
    
    
    
}
    
    
@media only screen and (min-width: 1200px) and (orientation : portrait) {
    
    
}